@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

input:focus {
  outline: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


@custom-variant dark (&:where(.dark, .dark *));

/* 2. Define your theme customizations */
@theme {
  --color-PrimaryBlack: #161616;
  --color-PrimaryGrayDark: #1D1D1D;
  --color-PrimaryGrayLight: #393939;
  --color-PrimaryGrayLighter: #494949;
  --color-PrimaryGrayTextLight: #BEBEBE;
  --color-PrimaryGrayTextDark: #9E9E9E;
  --color-PrimaryBlue: #509FFF;
  --color-PrimaryGrayHover: #2E2E2E;
  --color-PrimaryGrayIcons: #676767;
  --color-PrimaryLight: #ffffff;
  --color-DarkBlue: #0E1A45;
  --color-PrimaryWhite: #F4F6FC;
  --color-SecondaryWhite: #EEF2FD;
  --color-TertiaryWhite: #E0E6F9;

  --font-sans: Urbanist, sans-serif;
}


/* create global styles */
:root {
  --PrimaryBlack: #161616;
  --PrimaryGrayDark: #1D1D1D;
  --PrimaryGrayLight: #393939;
  --PrimaryGrayLighter: #494949;
  --PrimaryGrayTextLight: #BEBEBE;
  --PrimaryGrayTextDark: #9E9E9E;
  --PrimaryBlue: #509FFF;
  --PrimaryGrayHover: #2E2E2E;
  --PrimaryGrayIcons: #676767;
}

.inputCheckbox label{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--PrimaryGrayLight);
  padding: 10px 20px;
  border-radius: 10px;
  width: 200px;
}

.inputCheckbox{
  display: flex;
}

